/* shared styles for body */

.button {
    width: 174px;
    height: 56px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

/* nav styles */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 80px;
    /* margin-left: 80px; */
}

.nav-title {
    display: flex;
}

.nav-text {
    font-size: 30px;
    font-weight: 800;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-family: Mulish;
    font-size: 18px;
    gap: 20px;
    text-align: center;
}

.voyage {
    color: #FF5400;
}

.home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.bar {
    display: none;
}

/* banner styles */

.banner-container {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin: -20px 90px;
    border-radius: 16px;
}

.banner-title {
    align-items: center;
    padding-top: 40px;
}

.banner-title h2 {
    color: #FFF;
    font-family: Mulish;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
}

.banner-title p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    cursor: pointer;
}

form {
    align-items: center;
    padding: 6px 10px;
    margin-top: 40px;
    margin-left: 120px;
    border-radius: 8px;
    margin-right: 120px;
    background: rgba(255, 255, 255, 0.30);
    font-size: 17px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

form select {
    width: 174px;
    height: 56px;
    border-radius: 8px;
    border: none;
    color: grey;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    background-color: white;
    margin-left: 24px;
}

.form-button {
    width: 174px;
    height: 56px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    margin-right: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 24px;
    cursor: pointer;
}

.form input {
    border-radius: 8px;
    background: #FFF;
    border: none;
    width: 174px;
    height: 52px;
    padding-left: 10px;
    font-size: 16px;
    margin: 16px 24px;
}

/*---------- Popular tours styles---------- */

.tours-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-right: 75px;
    margin-left: 90px;
    gap: 30px;
}

.tours-text-h2 {
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tours-para {
    color: #5A5A5D;
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 530px;
}

.tours-li {
    color: #5A5A5D;
    text-align: left;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 530px;
    padding: 3px;
}

.tours-image {
    margin-top: 100px;
    border-radius: 16px;
    /* width: 100%; */
}

/*----------Destination styles----------- */

.destination-container,
.choose-text,
.choose,
.newsletter {
    margin-top: 100px;
    margin-left: 90px;
    margin-right: 90px;
}

.destination-container h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-container p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.destination-image {
    margin: 48px 90px;
}

.image-line-1,
.image-line-2,
.image-line-3 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.maldives,
.indonesia,
.srilanka,
.america,
.kashmir,
.bangladesh,
.bandarban {
    position: relative;
}

.maldives-text {
    position: absolute;
    align-items: center;
    font-family: Mulish;
    left: 14rem;
    top: 6rem;
    padding: 0 1rem;
    color: white;
    font-size: 28px;
}

.indonesia-text {
    position: absolute;
    align-items: center;
    font-family: Mulish;
    left: 12rem;
    top: 6rem;
    padding: 0 1rem;
    color: white;
    font-size: 28px;
}

.srilanka-text {
    position: absolute;
    align-items: center;
    font-family: Mulish;
    left: 8rem;
    top: 6rem;
    padding: 0 1rem;
    color: white;
    font-size: 28px;
}

.america-text {
    position: absolute;
    align-items: center;
    font-family: Mulish;
    left: 8rem;
    top: 6rem;
    padding: 0 1rem;
    color: white;
    font-size: 28px;
}

.kashmir-text {
    position: absolute;
    align-items: center;
    font-family: Mulish;
    left: 4rem;
    top: 6rem;
    padding: 0 1rem;
    color: white;
    font-size: 28px;
}

.bangladesh-text {
    position: absolute;
    align-items: center;
    font-family: Mulish;
    left: 8rem;
    top: 6rem;
    padding: 0 1rem;
    color: white;
    font-size: 28px;
}

.bandarban-text {
    position: absolute;
    align-items: center;
    font-family: Mulish;
    left: 14rem;
    top: 6rem;
    padding: 0 1rem;
    color: white;
    font-size: 28px;
}

/* --------Why choose us styles---------- */

.choose-text h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-text p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    margin-bottom: 24px;
    width: 573px;
    height: 235px;
    gap: 24px;
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
    margin-bottom: 24px;
    width: 573px;
    height: 235px;
    gap: 24px;
}

.best-price {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
    margin-bottom: 24px;
    width: 573px;
    height: 235px;
    gap: 24px;
}

.choose {
    display: flex;
    gap: 24px;
}

.choose,
.price h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose,
.price p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.best-price {
    align-items: center;
    width: 573px;
    margin: 0px 350px;
}

/* --------Newsletter styles------------ */
.newsletter {
    display: flex;
    gap: 24px;
}

.newsletter h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subscribe {
    border-radius: 16px;
    border: 2px solid orange;
    width: 500px;
    height: 395px;
    padding-top: 24px;
    padding-left: 24px;
}

.subscribe p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.subscribe input {
    display: block;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    width: 393px;
    height: 52px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.subscribe .btn-subscribe {
    width: 393px;
    height: 52px;
    /* display: block; */
    border-radius: 8px;
}

.discount {
    border-radius: 16px;
    width: 672px;
    height: 422px;
}

.save {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    margin-top: -200px;
    margin-left: 340px;
}

.save h3 {
    color: white;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}

.save h1 {
    color: white;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 30px;
}

/*--------- footer styles---------- */

footer {

    /* background: rgba(233, 68, 68, 0.05); */
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    padding-bottom: 60px;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    gap: 20px;
}

footer p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.social-media {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    margin-left: 140px;
    margin-right: 140px;
    height: 1px;
}

footer h4 {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* -----------------Responsive styles--------------- */

/* --------------------Mobile device---------------- */

@media screen and (max-width:600px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 375px;
        height: 64px;
        margin: 10px 20px;
    }

    .nav-logo {
        width: 50px;
        height: 50px;
    }

    .nav-title {
        align-items: center;
    }

    .nav-text {
        font-size: 21.543px;
    }

    .nav-menu {
        display: none;
    }

    .bar {
        display: block;
        margin-right: 45px;
    }

    .banner-container {
        background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
        background-repeat: no-repeat;
        width: 335px;
        height: 483px;
        margin: 20px 20px;
        border-radius: 16px;
    }

    .banner-title h2 {
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .banner-title p {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    .form-select {
        align-items: center;
        margin-left: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
        margin-top: 10px;
    }

    .form-select select {
        width: 255px;
        height: 42px;
        margin: 10px;
        flex-shrink: 0;
    }

    .form-button {
        width: 255px;
        height: 42px;
        margin: 10px;
    }

    .tours-container {
        flex-direction: column;

    }

    .tours-text {
        width: 255px;
        /* margin-left: -50px; */
        margin-right: 100px;
        justify-content: center;
        align-items: center;
    }

    .tours-text-h2 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

    }

    .tour-para {
        align-items: center;
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        /* width: 335px; */

    }

    .tours-li {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* margin: -30px; */
    }

    .tours-container img {
        width: 335px;
        height: 176px;
        margin-left: -10px;
    }

    .tour-button {
        width: 174px;
        height: 52px;
        /* margin-right: -200px; */
    }

    .destination-container {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 20px;
    }

    .destination-title {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: normal;
    }

    .destination-image {
        margin-left: 20px;
        margin-right: 5px;
    }

    .image-line-1,
    .image-line-2,
    .image-line-3 {
        flex-direction: column;
    }

    .destination-image img {
        width: 335px;
        height: 176px;
    }

    .maldives-text,
    .indonesia-text,
    .srilanka-text,
    .kashmir-text,
    .bandarban-text,
    .bangladesh-text {
        position: absolute;
        align-items: center;
        font-family: Mulish;
        left: 5rem;
        top: 3rem;
        padding: 0 1rem;
        color: white;
        font-size: 28px;
    }
    .america-text{
        position: absolute;
        align-items: center;
        font-family: Mulish;
        left: 3rem;
        top: 3rem;
        padding: 0 1rem;
        color: white;
        font-size: 28px; 
    }

    .choose-text h2 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .choose {
        flex-direction: column;
        margin: 20px;
    }

    .hotel,
    .service {
        width: 260px;
        height: 289px;
    }

    .best-price {
        width: 260px;
        height: 289px;
        margin: 20px;
    }

    .newsletter {
        flex-direction: column;
        margin: 20px;
    }

    .subscribe {
        width: 300px;
        height: 380px;
    }

    .newsletter input {
        width: 100px;
        height: 52px;
        flex-shrink: 0;
    }

    .subscribe .btn-subscribe {
        width: 280px;
        height: 52px;
    }

    .discount img {
        width: 335px;
        height: 300px;
    }

    .save {
        width: 214.023px;
        height: 79.268px;
        transform: rotate(-19.628deg);
        border-radius: 10.569px;
        background: #FF5400;
        margin-left: 115px;
        margin-top: -140px;
    }

    .save h3 {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 15.854px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .save h1 {
        color: #FFF;
        font-family: Mulish;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    footer {
        width: 375px;
        height: 309px;
        background: rgba(19, 19, 24, 0.05);
    }
    .footer-para {
        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 20px;
    }
    hr {
        width: 335px;
        height: 1px;
    }
}